h1, h2, h3, h4, h5, h6 {
    color: rgb(23, 128, 23);
    font: courier;
    font-family: monospace;}

p {
    color: rgb(104, 159, 104);
    font: courier;
    font-family: monospace;
    text-align:justify;}

body {
    background-color: darkslategrey;}

#box
{
    border-color: rgb(104, 159, 104);
    border-style: solid;
    border-width: 7px;
    padding: 100px;
    background-color: rgb(194, 241, 194);
    margin: 200px;
}

#summary
{
    color: rgb(194, 241, 194);
    font-family: monospace;
    font: courier;
    font-size:large;
}

#details
{
    
    color:rgb(194, 241, 194);
}

#border 
{
    border-color: rgb(194, 241, 194);
    border-style: dashed;
    border-width: 20px, solid;
}

#border-left
{
    border-left-color: rgb(194, 241, 194);
    border-left-style: solid;
    border-left-width: 2px;
}

#border-right
{
    border-right-color: rgb(194, 241, 194);
    border-right-style: solid;
    border-right-width: 2px;
}

#border-top
{
    border-top-color: rgb(194, 241, 194);
    border-top-style: solid;
    border-top-width: 2px;
}

#border-bottom
{
    border-bottom-color:rgb(194, 241, 194);
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

#border-radius {
    border-color:rgb(194, 241, 194);
    border-radius: 40%;
    border-style: dotted;
    height: auto;
    margin:auto;}

#background-image {
    color:rgb(194, 241, 194);}

#color {
    color: salmon}

#font {
    font-family: sans-serif;
    font: arial; }

#font-family {
    font-family: fantasy;
}

#font-style, font-weight {
    color: rgb(194, 241, 194)}

#width {
    width: 100px;}

#height {
    height: 100px;}

#list-style {
    color: rgb(194, 241, 194);
    list-style:circle;
    font-family: monospace;
    font: courier;
 }

#margin {
    margin: 10%;
}

#padding {
    color: rgb(194, 241, 194);
    padding: 10%;}

#overflow {
    overflow:scroll;
    color: rgb(194, 241, 194)}

#display {
    color: rgb(194, 241, 194)}

#position {
    color: rgb(194, 241, 194)}

#filter {
    color: rgb(194, 241, 194);}
