*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container
{
    padding: 10px;
    border-bottom: 1px solid black;
}

table, td
{
    border: 1px solid black;
}

.grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

#griddy
{
    background-color: rgb(42, 77, 165);
    padding: 10%;
    border-radius: 10px;
}