*
{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Courier New', Courier, monospace
}

body
{
    background-color: #79b7a4;
    color: white;
}

h1, h2, h3
{
    text-align: center;
}

.container
{
    padding: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

table, td
{
    border: 1px solid rgb(255, 255, 255);
}

.grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

#griddy
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #6ea091;
    padding: 10%;
    border-radius: 10px;
    color: white;
}