body
{
    background-color: #79b7a4;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3
{
    text-align: center;
}

table, td
{
    border: 1px solid rgb(255, 255, 255);
}

.gridPreguntas
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

#boxesPreguntas
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #6ea091;
    padding: 10%;
    border-radius: 10px;
    color: white;
    overflow: auto;
}

#boxReferencias
{
    display: flex;
    flex-direction: column;
    background-color: #6ea091;
    padding: 1%;
    border-radius: 10px;
    color: white;
    overflow: auto;
}

.gridEjercicios
{
    display: grid;
    grid-template-areas:
        'q q q q'
        'gpt gpt cp cp';
    grid-template-rows: repeat(4 1fr);
    grid-template-columns: repeat(2 1fr);
    grid-gap: 5px;
    align-content: center;
}

h4
{
    background-color: #6da393;
    border-radius: 10px;
    padding: 1%;
    grid-area: q;
}

.boxGPT
{
    background-color: #6da393;
    border-radius: 10px;
    padding: 3%;
    grid-area: gpt;
}

.boxCP
{
    background-color: #77a194;
    border-radius: 10px;
    padding: 3%;
    grid-area: cp;
}




